{%extends "base.html" %}
{%block content%}
{% load static %}

<div class="col-lg-15" style="margin-top: 20px;">
  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <h4 class="card-title">회원 정보</h4>
          <div class="card-body" style="padding: 0;">
            <p>회원 이메일 : {{user_data.user_email}}</p>
            <p>회원 닉네임 : {{user_data.user_nickname}}</p>
          </div>
          <div class="card-footer">
            <a href="#">회원 정보 수정</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <h4 class="card-title">생성한 모임</h4>
          <div class="card-body" style="padding: 0;">
            {%for m in createMeet%}
            <p>
              <a href="/notice/getMeet?category={{m.m_category}}&id={{m.m_id}}">
                {{m.m_name}}
              </a>
            </p>

            {%endfor%}
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <h4 class="card-title">가입한 모임</h4>
          <div class="card-body" style="padding: 0;">
            {%for m in userjoin%}
            <p>
              <a href="/notice/getMeet?category={{m.m_category}}&id={{m.m_id}}">
                {{m.m_name}}
              </a>
            </p>
            {%endfor%}
          </div>

        </div>
      </div>


    </div>
    <!-- row -->
  </div>

</div>
<!-- Page Content -->
<!-- base.html 과 는 별계로 jquery를 따로 선언 해줘야 한다 -->
<script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{%static 'js/signin.js'%}"></script>
{%endblock content%}