{%extends "base.html" %}
{%block content%}


<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- 입력폼 그리드 -->
    <div class="col-lg-4" style="margin: auto;">

      <!-- form -->
      <form action="member/register" method="POST">
        <!-- 이메일 입력 -->
        <div class="input-group mt-3 mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              style="width: 95.53px;">&nbsp;&nbsp;E-mail&nbsp;&nbsp;</span>
          </div>
          <input type="text" name="userEmail" class="form-control" placeholder="Input e-mail" aria-label="Input e-mail"
            aria-describedby="basic-addon1" required></input>
          <!-- E-mail 중복확인 -->
          <button class="btn btn-dark btn-sm btn-block"
            style="margin-top: 3px; background-color: grey; color: black;color:aliceblue; border:0" onclick="">e-mail
            중복확인</button>
        </div>

        <!-- 별명 입력 -->
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nickname</span>
          </div>
          <input type="text" name="userNickname" class="form-control" placeholder="Input Nickname"
            aria-label="Input Nicname" aria-describedby="basic-addon1" required></input>
          <!-- Nicname 중복확인 -->
          <button class="btn btn-dark btn-sm btn-block"
            style="margin-top: 3px; background-color: grey; color: black; border:0; color:aliceblue;" onclick="">Nicname
            중복확인</button>
        </div>

        <!-- 비번 입력 -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="width: 95.53px;">비밀번호</span>
          </div>
          <input type="password" name="userPw" class="form-control" placeholder="Input Password"
            aria-label="Input Password" aria-describedby="basic-addon1" required>

          <!-- 회원가입 버튼 -->
          <button type="submit" class="btn btn-dark btn-sm btn-block" style="height: 40px; margin-top: 5px;">
            회원 가입하기</button>
        </div>

      </form>

    </div>
  </div>
</div>
<!-- Page Content -->

{%endblock content%}